body {
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(245, 245, 229);
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  > div {
    flex: 1;
  }

  > .h-left {
    padding-left: 2em;

    span {
      font-size: 2em;
    }
  }

  > .h-center {
    text-align: center;
    h1 {
      flex: 1;
      white-space: nowrap;
    }
  }

  > .h-right {
    padding-right: 2em;
    text-align: end;

    span {
      font-size: 2em;
    }
  }
}

main {
  > .product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4em;

    > .product-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 15em;
      border: none;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
      padding: 2em 0;
      
      img {
        width: 80%;
        height: fit-content;
      }

      button {
        padding: 4px 0;
        width: 8em;
        font-size: 1em;
        font-weight: bold;
        color: white;
        border: 2px solid black;
      }

      .add-to-cart-button {
        background-color: rgb(57, 175, 57);
      }

      .more-button {
        margin-top: 1em;
        background-color: grey;
      }
    }
  }
}

.login-popup {
  background-color: white;
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  transform: translateX(-100%);
  transition: transform 0.5s ease;
  display: flex;
  justify-content: center; 
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);


  @media (min-width: 720px) {
    width: 320px;
  }

  > .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    height: 100%;

    > span {
      position: absolute;
      top: 0.5em;
      right: 0.5em;
      font-size: 2em;
    }

    > h2 {
      font-size: 2.5em;
      font-weight: bold;
      font-family: 'Lato', sans-serif;
    }

    > .input-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 3em;
      width: 100%;

      > input {
        font-size: 1.5em;
        height: 2em;
        border: none;
        border-bottom: 1px solid black;

        &:hover {
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
        }
      }


    }

    > .button-container {
      display: flex;
      flex-direction: column;
      gap: 2em;
      width: 100%;

      > button {
        width: 100%;
        padding: 0.5em 0.5em;
        font-weight: bold;
        font-family: 'Lato';
        font-size: 1.5em;
        color: white;
        border: none;
        box-shadow: 0 0 4px black;
        
        &:active {
          border: 1px solid black;
        }
      }

      :nth-child(1) {
        background-color: rgb(28, 228, 28);
      }

      :nth-child(2) {
        background-color: rgb(19, 101, 255);
      }
    }
  }
}


.overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7); 
  display: none; 
}

.overlay.block {
  display: block;
}

.login-popup.visible {
  transform: translateX(0%); 
}

